body{
    background-color: crimson;
    margin: 0;
   }

img{
    width: 365px;
    height: 655px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

p{
    padding: 5px;
    text-align: justify;
    border: 1px solid black;
    margin: 5px;
    top: 20px;
    height: 100px;
    overflow: auto;
    
}